.card{
    width: 270px;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    margin:10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card img{
    width: 200;
    height: 150px;
    object-fit: cover;
}
.card button{
    background-color: blue;
    color:black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}