.card{
    width: 270px;
    border: 1px solid;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    gap:8px;
}
.card button{
    background-color: blue;
    color:rgb(2, 3, 12);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
